html,
body {
  margin: 0;
  padding: 0;
}

.box {
  background-color: black;
  height: 40px;
  width: 380px;
  position: fixed;
}
.testo {
  font-family: Arial;
  font-weight: 300;
  color: white;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}
